.root {
    -fx-accent: #f1d400;
    -fx-focus-color: -fx-accent;
    -fx-base: #e3b200;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: #cf0a0a;
}

.text-field {
    -fx-prompt-text-fill: #cf0a0a;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: #eacd10;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}
