# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Amélie\IdeaProjects\puzzleSC_FOURRIERE_JACOB-GUIZON_VOISIN_DEBANO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
